# Root gitignore
.DS_Store
Thumbs.db
*.log

# Subfolders
**/node_modules/
**/vendor/
**/dist/
**/.env
**/.env.local
**/.env.production
**/public/storage
**/storage/*.key
**/storage/pail
**/public/build
**/.idea/
**/.vscode/
